body {
    color: #777777;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 2em;
}

.h1 {
    color: #ffffff;
    background-color: #4aaaa5;
    float: left;
    padding: 42px;
    margin: 0;
    vertical-align: middle;
}

p {
    line-height: 2em;
}

footer {
    background-color: #666666;
    border-top: 3px solid #4aaaa5;
    height: 4em;
    text-align: center;
    padding: 1em;
}

.white-bg {
    background-color: #ffffff;
}

.main-content-container {
    border: 1px solid #dddddd;
    padding: 2em;
}

.deco-bg {
    background: url('../images/qbkls.png');
    width: 100%;
}

.navbar {
    padding: 0;
}

.navbar-brand {
    color: #ffffff !important;
    margin: 0 auto;
    padding: 1em;
}

.profile-pic {
    float: left;
    margin: 0 1em 1em 0;
}

.teal-text {
    color: #4aaaa5;
}

.teal-bg {
    color: #ffffff;
    background-color: #4aaaa5;
}

.block {
    display: block;
}

.figure {
    margin-bottom: 4em;
}

.figure-caption {
    position: relative;
    margin-top: -60px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}